{% extends 'base.html' %}
{% block content %}
  <div class="container main-content">
   <div class="row justify-content-center">
    <div class="col-md-8">
    <form method="get" action="{% url 'analyze_page' %}">

     <div class="input-group mb-3">
      <input aria-label="Enter a web page URL" class="form-control is-invalid" placeholder="Enter a web page URL" id="url" name="url" type="text"/>
      <button class="btn btn-primary" type="submit">
       Analyze
      </button> 
     </div>
     <div class="invalid-feedback">
      Enter a valid URL
     </div>
    </div>
</form >

   </div>
   <h1>
    Make your web pages fast on all devices
   </h1>
   <div class="links">
    <p>
     CHECK OUT
    </p>
    <a href="#">
     What's new
    </a>
    <a href="#">
     Documentation
    </a>
    <a href="#">
     Learn about Web Performance
    </a>
   </div>
   <img alt="Illustration of web performance tools" height="200" src="https://storage.googleapis.com/a1aa/image/JbmPbZug6OZ4HdGhnGdPC0f123PR51gf3aGZ4VrWn6Q2xD6TA.jpg" width="400"/>
  </div>

{% endblock content %}
